<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>基础功能</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>de.finngaida.daynightswitch</string>
			<key>key</key>
			<string>global</string>
			<key>label</key>
			<string>全局生效</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>外观效果选择</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>de.finngaida.daynightswitch</string>
			<key>key</key>
			<string>switchStyle</string>
			<key>label</key>
			<string>当前样式</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>经典日月</string>
				<string>清晰条纹</string>
				<string>动态日月</string>
				<string>飞机跑道</string>
				<string>日月交替</string>
				<string>汉堡薯条</string>
				<string>星战机器</string>
				<string>星空火箭</string>
				<string>纯洁牙齿</string>
				<string>嘻嘻嘻嘻</string>
				<string>狗狗翻滚</string>
			</array>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring to Apply Changes</string>
			<key>isDestructive</key>
			<true/>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>关于作者</string>
			<key>footerText</key>
			<string>航</string>
		</dict>
	</array>
	<key>title</key>
	<string>动态开关</string>
</dict>
</plist>
