Package: com.doimty.promotion
Name: ProMotion 120Hz
Author: doimty
Description: 全局 120Hz 高刷。支持通知横幅、浮窗、App 滚动场景。
Depends: mobilesubstrate
Maintainer: doimty
Architecture: iphoneos-arm64
Section: Tweaks
Version: 1.0.7
Tag: supports::roothide
