<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CPU</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>off</string>
			<key>defaults</key>
			<string>com.be-huge.insulation-prefs</string>
			<key>key</key>
			<string>thermalPowerMode</string>
			<key>label</key>
			<string>CPU 模式</string>
			<key>validValues</key>
			<array>
				<string>off</string>
				<string>lowPower</string>
				<string>fullPower</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>苹果原生温控</string>
				<string>模拟低电频率</string>
				<string>防止温控降频</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>屏幕</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.be-huge.insulation-prefs</string>
			<key>key</key>
			<string>thermalPreventDimmingEnabled</string>
			<key>label</key>
			<string>防止温控暗屏</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>高级功能</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.be-huge.insulation-prefs</string>
			<key>key</key>
			<string>thermalSuppressNotificationsEnabled</string>
			<key>label</key>
			<string>禁温度计弹窗</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.be-huge.insulation-prefs</string>
			<key>key</key>
			<string>thermalDisablePocketSunlightEnabled</string>
			<key>label</key>
			<string>禁用口袋高温</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.be-huge.insulation-prefs</string>
			<key>key</key>
			<string>thermalSunlightLockedEnabled</string>
			<key>label</key>
			<string>锁定阳光暴晒</string>
		</dict>
	</array>
	<key>title</key>
	<string>Insulation</string>
</dict>
</plist>
